@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Roboto+Mono:ital,wght@1,600&family=Yeon+Sung&display=swap');

/* *{} resets the page -> remove unnecessary space and all */
*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

h1{
    text-align: center;
    margin: 12px;
}

.container h1{
    font-family: 'Yeon Sung', cursive;
    font-size: 40px;
}

.container{
    min-height: 100vh;
}

.myForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.myInput{
    width: 50%;
    border-radius: 5px;
    border-width: 3px;
    border-color: blanchedalmond;
    padding: 10px;
    margin: 16px;
    font-size: 16px;
}

.btn{
    padding: 8px 16px;
    font-size: 18px;
    border: 2px solid black;
    border-radius: 8px;
    color: whitesmoke;
    background: rgb(204, 36, 19);
    cursor: pointer;
    margin: 25px;
}